<h2>Libro diario</h2>

<br>

<div class="container">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-dark">Crear cuenta</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark">Generar informe</button>
                </div>  
            </div>
        </div>
    </div>

    <div class="container hoja">
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>aña</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>aña</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>asdfasdf</td>
                    <td>Tadfadsf</td>
                    <td>aññima</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

