<h2>Libro diario</h2>

<br>

<div class="container">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Crear cuenta</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark">Generar informe</button>
                </div>  
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Nueva Cuenta</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formularioCuenta" >
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Cuenta:</label>
                <input  formControlName="nombre" type="text" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Saldo:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Tipo:</label>
                <select formControlName="tipo"  class="form-select" aria-label="Default select example">
                  <option value="Activo">Activo</option>
                  <option value="Pasivo">Pasivo</option>
                  <option value="Capital">Capital</option>
                  <option value="Ingreso">Ingreso</option>
                  <option value="Gasto">Gasto</option>
                  
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="CrearAnio()">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    @for (os of data ; track $index) {
      <h1>{{os.nombre}}</h1>

    }



    <div class="container hoja">
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>aña</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>aña</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>asdfasdf</td>
                    <td>Tadfadsf</td>
                    <td>aññima</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

